*{
    background-color: white;
    color:black;
    margin:0;
    overflow: hidden;
}


.main{
    display: flex;
    height: 100vh;
}

h1{
    font-family:cursive;
    margin-left:20%;
    margin-top: 20px;
}


.sidebarmenu{
    background-color:white;
    width: 300px;
    border:1px solid linen;
    border-radius: 1rem;

}

.main-content{
    background-color:white;
    border:1px solid linen;
    border-radius: 1 rem;
    flex:1;
    overflow: auto;
}

.circle{
    height: 150px;
    width: 150px;
    border:1px solid black;
    border-radius: 50%;
    margin: 40px 0px 0px 50px;
}

a{
    text-decoration: none;
    margin-left: 5px;
}

.nav li{
    margin-top: 10px;
    padding:20px;
}

.nav li:hover{
    box-shadow: 0 0 6px rgba(000,000,000,0.5);
    background-color: whitesmoke;
    border-radius: 10px;

}

i:hover{
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
}

/* .page{
    margin-top: -80px;
    margin-left: 250px;
} */



